<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../dist/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="../dist/css/app.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="card">
                    <div class="card-body invoice-head">
                        <div class="row">
                            <div class="col-md-4 align-self-center">
                                <p class="mt-2 mb-0 text-muted">Pembayaran Simpanan Pokok</p>
                            </div>
                            <div class="col-md-8">
                                <ul class="list-inline mb-0 contact-detail float-end">
                                    <li class="list-inline-item">
                                        <div class="ps-3">
                                            <i class="mdi mdi-web"></i>
                                            <p class="text-muted mb-0">www.abcdefghijklmno.com</p>
                                            <p class="text-muted mb-0">www.qrstuvwxyz.com</p>
                                        </div>
                                    </li>
                                    <li class="list-inline-item">
                                        <div class="ps-3">
                                            <i class="mdi mdi-phone"></i>
                                            <p class="text-muted mb-0">+123 123456789</p>
                                            <p class="text-muted mb-0">+123 123456789</p>
                                        </div>
                                    </li>
                                    <li class="list-inline-item">
                                        <div class="ps-3">
                                            <i class="mdi mdi-map-marker"></i>
                                            <p class="text-muted mb-0">2821 Kensington Road,</p>
                                            <p class="text-muted mb-0">Avondale Estates, GA 30002 USA.</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row row-cols-3 d-flex justify-content-md-between">
                            <div class="col-md-3 d-print-flex">
                                <div>
                                    <h6 class="mb-0"><b>Nama :</b> <span id="nama"></span></h6>
                                    <h6 class="mb-0"><b>Alamat :</b> <span id="alamat"></span></h6>
                                    <h6 class="mb-4"><b>Email :</b> <span id="email"></span></h6>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive project-invoice">
                                    <table class="table table-bordered mb-0">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>Tanggal</th>
                                                <th>Pembayaran</th>
                                            </tr>
                                        </thead>
                                        <tbody id="items">
                                            <!-- Dynamic content goes here -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
